<% title "User Dashboard" %>
<% if can? :manage, @users %>
  <p>Hello, you are an Admin</p>
  <h2>Users</h2>
  <% for user in @users %>
    <p><%= user.name %> <%= user.email %> (<%= user.role %>) <%= link_to "Edit User", edit_user_path(user) %>
        <% unless user.email == current_user.email %>
          <%= link_to "Delete User", user, :confirm => "Are you sure?", :method => :delete %>
        <% end %>
  <% end %>
<% else %>
  <p>Hello, you are not an Admin</p>
<% end %>
